.Header {
    width: 100%;
    color: white;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.Header_BoxShadow {
    box-shadow: 0px 2px 10px rgb(149 147 147);
}

.navbar-logo {
    height: 10%;
    width: 10%;
    border-radius: 45%;
}

.Header_Container {
    width: 80%;
    height: 90px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}

.Header_Logo {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 0;
}

.Header_Logo img {
    width: 100%;
    height: 100%;
}

.Header_LinksContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 57px;
    margin-left: 150px;
    width: 100%;
}

.Header_Links {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    height: 100%;
    color: white !important;
    padding-left: 0;
}

.Header_Links li {
    padding: 0 20px;
    position: relative;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
}

.Header_Links li:hover {
    border-bottom: 3px solid white !important;
    border-top: 3px solid white !important;
    color: white;
    transition: 0.5s;
    font-size: 1.8rem !important;
}

.Header_Links li a {
    text-decoration: none;
    color: #9698A6 !important;
    font-weight: 600;
    font-size: 17px;
}

.Header_Links li a:hover,
.Header_Links li a:active,
.Header_Links .active {
    color: rgb(46, 44, 44) !important;
}


a {
    color: black;
    text-decoration: none;
}

.Header_Login {
    color: #fff;
    /* height: 38px; */
    font-weight: 700;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 25px;
    margin: 0 20px 0 55px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #00bb38;
    transition: all 450ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Header_Login:hover {
    background-color: #02862a;
}

.Header_Login:active,
.Header_CreateAcc:focus {
    background-color: #00a123;
    color: black;
}

.Header_SideMenuBtn {
    display: none;
}


.nav-button {
    width: 200px;
    height: 60px;
    border: solid cornflowerblue 2px;
    border-radius: 50px;
    font-size: 1.3rem;
    background-color: white;
    color: cornflowerblue;
}

.nav-button:hover {
    border-radius: 50px;
    font-size: 1.3rem;
    background-color: cornflowerblue;
    color: white;
}

@media (max-width: 1072px) {
    .Header_Container {
        height: 90px;
        width: 90%;
    }

    .Header_LinksContainer {
        margin-left: 180px;
    }
}

@media (max-width: 942px) {
    .Header_LinksContainer {
        display: none;
    }

    .Header_SideMenuBtn {
        display: block;
        margin-right: 20px;
        margin-left: auto;
    }

    .Header_SideMenuBtn .MuiSvgIcon-root {
        font-size: 32px !important;
    }
}